

#image-container {
  display:inline-block;
    width:320px; 
    height:480px;
    margin: 0 auto; 
    position:relative; 
    border:5px solid black;
    border-radius: 10px; 
    
}

#canvas {
  position:relative;
  z-index:20
}

.img {
  position:absolute;
  z-index: 1;
}

.flex {
  display: flex;
  flex-direction: row;
}
